
.accordion {
    background-color: cornflowerblue;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  /*  overflow: scroll;*/

}

.active::after {
    content: "\2212";
   /* overflow: scroll;*/
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
   /* transition: max-height 0.2s ease-out;*/
}

#editForm{
    position: relative;
    top:10%;
    left: -5%;
}

html{
    font-family: "Helvetica Neue", sans-serif;
    width:100%;
    color:#666666;
    text-align:center;
}

.popup-overlay{
    /*Hides pop-up when there is no "active" class*/
    visibility:hidden;
    position:absolute;
    background:white;
    border:3px solid #666666;
    width:52%;
    height:55%;
    left:25%;
    top: 5%;
}
.popup-overlay.active{
    /*displays pop-up when "active" class is present*/
    visibility:visible;
    text-align:center;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility:hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility:visible;
}

button{
    display:inline-block;
    vertical-align:middle;
    border-radius:30px;
    margin:.20rem;
    font-size: 1rem;
    color:#666666;
    background:   #ffffff;
    border:1px solid #666666;
}

button:hover{
    border:1px solid #666666;
    background:#666666;
    color:#ffffff;
}

.overlay {
    position:fixed;
    display:none;
    z-index: 1010;

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blur {
    box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    transform: scale(0.9);
    opacity: 0.6;
}


